
@import "../../../variables";

.cards_block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 30px;

  @include laptops() {
    flex-wrap: wrap;
    justify-content: center;
  }
}