
@import "../../../variables.scss";

.modal {
  position: fixed; 
  background-color: rgba(117, 117, 117, 0.5);
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 100;

  .title {

  margin-bottom: 0;
    text-align: center;
  }


  &_dialog {
    display: flex;
    flex-direction: column;

    margin: 50px auto;
    width: 600px;
    background-color: #fff;
  }

  .header { 
    position: relative;
    border-bottom: 1px solid rgb(192, 192, 192);

    .close {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 10px;
      top:10px;
      cursor: pointer;
    }
  }

  .btn {

    position: absolute;
    left: 10px;
    top:10px;
    cursor: pointer;
    font-family: LytigaPro;
    box-sizing: border-box;
    color: #fff;
    border:none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;

    text-transform: uppercase;
    background-color: $green;
    outline: none;
    transition: all ease 0.2s;
    
    &:hover {
      background-color:$greenhover;
    }

  }

  .content {
    display: flex;
    flex-direction: column;
    position: relative;

    .scheme {

      height: 760px;
      width: 600px;
    }
  }
}

.scheme_link {
  cursor: pointer;
  color:$green;
  margin-left: 10px;
  border-bottom: 1px dotted $green;

  
  &:hover {

    color:$greenhover;
    border-bottom: 1px dotted $greenhover;
  }
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.modal_dialog {
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}