@import "../../variables";

a {
  text-decoration: none;
  color: #000;
}

.content {

  margin-top: 20px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;



  .company_block {
    margin-top: 20px;
    display: flex;

    font-size: 20px;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
      text-decoration: underline;
    }

    .img_block {

      width: 200px;
      display: flex;
      align-items: center;
      margin-right: 30px;
      justify-content: center;

      .img {
        width :140px;
      }
    }

    .text {
      text-indent: 40px;
    }
  }


  .title {
    width:100%;
    height: 54px;
    font-size: 32px;
    text-align: center;

    background-image: url('../../assets/img/footer-bg.png') ;
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  .subtitle {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 8px;

    .in_stock {
      border-bottom: 3px solid $green;
      width: 58%;
      margin-left:1%;
      text-align: center;
    }

    .on_order {
      border-bottom: 3px solid $grey;
      width:38%;
      margin-right: 1%;
      box-sizing: border-box;
      text-align: center;
    }
  }


  .accessories_block {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.features {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
  flex-wrap: wrap;

  .item {
    overflow: hidden;
    position: relative;
    display: flex;
    width: 260px;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    overflow: hidden;

    border: 2px solid #53b36a;
    border-radius: 40px;
    margin-bottom: 40px;
    padding: 10px;
          
    .features_img {
      width: 110px;
      margin-bottom: 20px;
    }

    .text {

      font-size: 20px;
      font-weight: bold;
      color: #53b36a;;
      text-align: center;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .hover_block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      opacity: 0;
      padding: 10px 15px;
      position: absolute;
      font-size: 18px;
      color: $green;
      font-weight: 500;
      top:0;
      bottom: 0;
      background-color: rgb(245, 245, 245);
      transition: ease all 0.4s;
      text-align: start;
      text-indent: 15px;
       p {
         margin-top: 0;
         vertical-align: center;
       }
      &:hover {
        opacity: 1;
      }
    }
  }
}

.certificate {

  width:100%;

  display: flex;
  flex-direction: column;
  align-items:center;
  

  .block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 50px;

    .img {

      width: 400px;
      cursor: pointer;
    }

    .right_side {

      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 700px;
      width: 100%;

      .title {

        color: #000;
        margin-left: 0px;
        margin-top: 0px;
      }
      
      .desc {
        color: #000;
        font-size:22px;
      }

      .btn {

        cursor: pointer;
        font-family: LytigaPro;
        text-decoration: none;
        color:#fff;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 16px;
        
        text-transform: uppercase;
        background-color: #53b36a;
        outline: none;
        transition: all ease 0.2s;
    
    &:hover {
      background-color:$greenhover;
    }
      }
    }

  }
}