@import "../../variables.scss";

.container {
  width: 100%;
  max-width: 1200px;
  min-height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal_block {

    width: auto;
    max-width: 500px;
    height: auto;
    padding:20px;
    border: 1px solid $grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;

    .text {
      font-size: 20px;
      text-indent: 20px;
      text-align: center;
    }

    .btn {
      cursor: pointer;
      font-family: LytigaPro;

      bottom: -20px;
      color: #fff;
      border: none;
      border-radius: 10px;
      padding: 10px 20px;
      font-size: 16px;
      text-transform: uppercase;
      background-color: #53b36a;
      outline: none;
      transition: all ease 0.2s;

      &:hover {
        background-color:$greenhover;
      }
    }


  }
}