@import "./variables.scss";

* {
  outline: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.app {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: $grey;
  background-image: url('./assets/img/bg.PNG');
  background-size: 300px;

  @include desktop() {
    font-size: 14px;
  }

  @include laptops() {
    font-size: 13px;
  }

  @include tablets() {
    padding-top: 80px;
  }

}

//colors

$grey: #7c7c7c;
$green: #53b36a;