@import "../../../variables";


.container {

  img {
    width: 100%;
  }

  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  @include desktop() {
    max-width: 80%;
    min-width: 960px;
    margin: 0 auto;
  }

  @include laptops() {

    min-width: 720px;
    margin: 0 auto;
  }

  @include tablets() {

   display: none;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .long_block {
      
      display: flex;
      overflow: hidden;
      border: 1px solid rgb(180, 180, 180);
      border-radius: 10px;
      box-sizing: border-box;
      height: 160px;
      width:330px;

      @include desktop() {

        height: 130px;
        width:264px;
      }

      @include laptops() {
        height: 96px;
        width:198px;
      }


      .mini_block {
        border:none;
        border-radius:0;
        margin-bottom: 0;
      }


    }
    

.mini_block {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding-top: 10px ;
  font-size: 20px;
  text-align: center;

  overflow: hidden;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;

  height: 160px;
  width: 160px;

  margin-bottom: 10px;
  background-color: #fff;

  
  @include desktop() {

    height: 130px;
    width:130px;
  }

  
  @include laptops() {

    height: 96px;
    width:96px;
  }

  
  
  &> p {
    margin: 0;
    font-size: 18px;
    padding: 0;

    @include desktop() {
      font-size: 16px;
    }

    
    @include laptops() {

      font-size: 12px;
    }
  }

  &>p>span {
    font-weight: 600;
    font-size: 24px;
    color: $green;

    @include desktop() {
      font-size: 20px;
    }

    @include laptops() {

      font-size: 16px;
    }

  }

  &>img {
    width: 80px;
    margin:0 auto;

    @include desktop() {
      width: 60px
    }

    
    @include laptops() {

      width: 40px;
    }

  }

}


.mini_green {
  border: 5px solid $green;
  cursor:pointer;
  &:hover {
    background: $green;
  }


 p {
  font-size: 24px ;

  @include desktop() {
    font-size: 20px;
  }

  
  @include laptops() {

    font-size: 18px;
 }

}

 img {
  width: 180px;
  margin-left: 65px;

  @include desktop() {
    width: 144px;
    margin-left: 52px;
  }

  
  @include laptops() {

    width: 108px;
    margin-left: 40px ;
  }
}


}

.mini_sklad {
  border: 5px solid rgb(206, 29, 29);
  background-color: rgb(225, 255, 177);
  p {
    font-size: 24px ;

    @include desktop() {
      font-size: 20px;
    }

    @include laptops() {
      font-size: 18px;
    }
    
   }

   img {
     width: 150px;

     @include desktop() {
      width: 120px;
    }

    @include laptops() {
      width: 90px;
    }


   }
}
.mini_link {
  cursor: pointer;
  transition: all ease 0.2s;

}

.mini_col {

  .mini_block {
    width: 320px;
    height: 320px;

    @include desktop() {
      width: 256px;
      height: 256px;
    }

    @include laptops() {
      width: 192px;
      height: 192px;
    }

  }
  
}

.main_block {
 
  box-sizing: border-box;
  position: relative;

  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  border: 1px solid rgb(180, 180, 180);
  height: auto;
  width: 855px;

  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  transition: all ease 0.2s;

  @include desktop() {
    width: 688px;
    margin-left: 0;
  }

  @include laptops() {
    width: 512px;
    margin-left: 0;
  }

  .arrow_left {

    transition: all ease 0.2s;
    display: flex;
    height: 100%;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    left: 0;
    width: 50px;

    &:hover {
      transform: scale(1.25);
    }
  }

  .arrow_right {

    transition: all ease 0.2s;
    height: 100%;
    display: flex;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    right:0;
    width: 50px;

    &:hover {
      transform: scale(1.25);
    }

  }

  .slider_list {
    margin: 0;
    padding:0 ;

    list-style: none;
    display: flex;
    position: absolute;
    top:0px;
    left: 0px;
    height: 100%;
    width: 4275px;
    transition: all ease 0.3s;

    @include desktop() {
      width: 3420px;

    }

    @include laptops() {
      width: 2564px;
      margin-left: 0;
    }

    .main_img {
      width: 80%;
    }

    
    .list_item {
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width:855px;

      @include desktop() {
        width: 684px;
      }

      @include laptops() {
        width: 512px;
      }

      .item_link {
        display: flex;
        justify-content: center;
      }

      &>p {
        color:$green;
        font-size: 30px;
        font-weight: 600;
        text-align: center;

        @include desktop() {
          font-size: 26px;
        }

        @include laptops() {
          font-size: 22px;
        }
      }
    }
  }

  .mark_img {

    position: absolute;
    width: 170px;
    top: 10px;
    right: 10px;
    z-index: 5;

    @include desktop() {
      width: 136px;
    }

    @include laptops() {
      width: 102px;
    }
  }

  .model_name {
    position: absolute;
    left: 15px;
    bottom: 0px;
    color:rgb(136, 136, 136);
    font-size: 20px;
  }
  

    }

    .cert_block {
      width: 520px;
      height: 150px;

      @include desktop() {
        width:416px;
        height: 120px;
      }

      @include laptops() {
        width:312px;
        height: 90px;
      }

      img {
        width: 100%;
      }
    }
  }

  .mini_block { box-sizing: border-box;
    padding: 10px;

  }


}

.big_block {
  width: 320px !important;
  height: 320px !important;

  @include desktop() {
    width: 256px !important;
    height: 256px !important;
  }

  @include laptops() {
    width: 192px !important;
    height: 192px !important;
  }
  img {
    width: 170px !important;
    height: 170px !important;

    @include desktop() {
      width: 136px !important;
      height: 136px !important;
    }

    @include laptops() {
      width: 102px !important;
      height: 102px !important;
    }
  }
   p{
     font-size: 24px !important;

     @include desktop() {
      font-size: 20px !important;
    }

    @include laptops() {
      font-size: 16px !important;
    }
    }
}

.col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 520px;

  @include desktop() {
    width: 416px;
  }

  @include laptops() {
    width: 312px;
  }
}


.row:first-child .animate .mini_block img{
  // border: 2px solid red;
  width: 140px;

  @include desktop() {

    width: 100px;
  }

  @include laptops() {

    width: 80px;
  }
}

.row:first-child .animate:nth-child(3) .mini_block img{

  height: 90px;
  width: 50px;

  @include desktop() {
    height: 50px;
    width: 40px;
  }

  @include laptops() {

    width: 26px;
    height: 36px;
  }
  
}

.row:first-child .animate:nth-child(4) .long_block{
background-color: #fff;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 10px 0;
font-size: 18px;

@include desktop() {
  font-size: 16px;
}

@include laptops() {
  font-size: 14px;
}


  img {
    height: 95px;
    width: 100px;

    @include desktop() {
      height: 60px;
      width: 75px;
    }

    @include laptops() {
      height: 36px;
      width: 52px;
    }
  }

  p {
    margin: 0  }
}


