@import "../../../variables";



.container {

  img {
    width: 100%;
  }


  width:100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .long_block {
      
      display: flex;
      overflow: hidden;
      border: 1px solid rgb(180, 180, 180);
      border-radius: 10px;
      box-sizing: border-box;
      height: 160px;
      width:330px;

      


      .mini_block {
        border:none;
        border-radius:0;
        margin-bottom: 0;
      }



    }
    

.mini_block {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding-top: 10px ;
  font-size: 20px;
  text-align: center;

  overflow: hidden;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;

  height: 160px;
  width: 160px;

  margin-bottom: 10px;
  background-color: #fff;

  
  &> p {
    margin: 0;
    font-size: 18px;
    padding: 0;
  }

  &>p>span {
    font-weight: 600;
    font-size: 24px;
    color: $green;

  }

  &>img {

    width: 80px;

    margin:0 auto;

  }


}


.mini_green {
  border: 5px solid $green;
  &:hover {
    background: $green;
  }


 p {
  font-size: 24px ;
 }

 img {
  width: 180px;
  margin-left: 65px;
}


}

.mini_sklad {
  border: 5px solid rgb(206, 29, 29);
  background-color: rgb(225, 255, 177);
  p {
    font-size: 24px ;
   }

   img {
     width: 150px;
   }
}
.mini_link {
  cursor: pointer;
  transition: all ease 0.2s;

}

.mini_col {

  .mini_block {
    width: 320px;
    height: 320px;

  }
  
}

.main_block {
 
  box-sizing: border-box;
  position: relative;

  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  border: 1px solid rgb(180, 180, 180);
  height: auto;
  width: 855px;

  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  transition: all ease 0.2s;

  .arrow_left {

    transition: all ease 0.2s;
    display: flex;
    height: 100%;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    left: 0;
    width: 50px;

    &:hover {
      transform: scale(1.25);
    }
  }

  .arrow_right {

    transition: all ease 0.2s;
    height: 100%;
    display: flex;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    right:0;
    width: 50px;

    &:hover {
      transform: scale(1.25);
    }

  }

  .slider_list {
    margin: 0;
    padding:0 ;

    list-style: none;
    display: flex;
    position: absolute;
    top:0px;
    left: 0px;
    height: 100%;
    width: 4275px;
    transition: all ease 0.3s;

    .main_img {
      width: 80%;
    }

    
    .list_item {
      position: relative;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width:855px;

      .item_link {
        display: flex;
        justify-content: center;
      }

      &>p {
        color:$green;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
      }
    }
  }

  .mark_img {

    position: absolute;
    width: 100px;
    top: 10px;
    right: 10px;
    z-index: 5;
  }
  

    }

    .cert_block {
      width: 520px;
      height: 150px;
      img {
        width: 100%;
      }
    }
  }

  .mini_block { box-sizing: border-box;
    padding: 10px;

  }


}

.big_block {
  width: 320px !important;
  height: 320px !important;
  img {
    width: 170px !important;
    height: 170px !important;
  }
   p{
     font-size: 24px !important;
    }
}

.col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 520px;
}


.row:first-child .animate .mini_block img{
  // border: 2px solid red;
  width: 140px;
}

.row:first-child .animate:nth-child(3) .mini_block img{

  height: 90px;
  width: 50px;
  
}

.row:first-child .animate:nth-child(4) .long_block{
background-color: #fff;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 10px 0;
  img {
    height: 95px;
    width: 100px;
  }
  font-size: 18px;
  p {
    margin: 0  }
}
