@import "../../variables.scss";

.title {
  width:100%;
  height: 54px;
  font-size: 32px;
  text-align: center;
  // background-color: #fff;
  background-image: url('../../assets/img/footer-bg.png') ;
  background-repeat: no-repeat;
  background-position: center bottom;

  @include phones() {
    font-size: 24px;
    height: 40px;
  }
}


.contacts { 

  display: flex;

  flex-direction: column;
  align-items: center;
  width:100%;
  
  .title_block {

    display: flex;
    flex-direction: flex-start;

    width:100%;



    .logo {

      height: 100px;
    }


  }



  .adress_block {
    padding-left: 20px;

    width: 100%;
    max-width: 1200px;

    .adress_item {

      margin-top: 40px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include tablets() {
        align-items:center;
      }

      .item_title {

        font-size: 24px;
        
        @include tablets() {
          font-size: 20px;
        }
        
      }

      .item_desc {

        font-size: 18px;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;

        @include tablets() {
          font-size: 16px;
          width: 82%;
          line-height: 30px;
          text-align: center;
        }
      }

      .link {
        
        cursor: pointer;
        color: $green;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        margin-right: 20px;
        margin-left: 15px;
        margin-bottom: 10px;
        margin-top: 10px;

        @include tablets() {
          font-size: 16px;
        }

        &:hover {

          color:$greenhover;
        }
        
      }


      
      .icon {
        transform:translateY(30%);
        padding:3px;
        background-color:$green;
        border-radius: 50%;
        margin-right: 10px;

        &_mail {
          border:none;
          padding-right: 7px;
          transform:translateY(30%)
        }
      }


      
    }
  }


  
}

.modal {
  position: fixed; 
  background-color: rgba(117, 117, 117, 0.75);
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 100;

  .title {

    margin-bottom: -8px;
    z-index: 110;
  }


  &_dialog {
    display: flex;
    flex-direction: column;

    margin: 50px auto;
    width: 600px;
    background-color: #fff;
  }

  .header { 
    position: relative;

    .close {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 10px;
      top:10px;
      cursor: pointer;
    }
  }

  .btn {

    position: absolute;
    left: 10px;
    top:10px;
    cursor: pointer;
    font-family: LytigaPro;
    box-sizing: border-box;
    color: #fff;
    border:none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;

    text-transform: uppercase;
    background-color: $green;
    outline: none;
    transition: all ease 0.2s;
    
    &:hover {
      background-color:$greenhover;
    }

  }

  .content {
    display: flex;
    flex-direction: column;
    position: relative;

    .scheme {

      height: 760px;
      width: 600px;
    }
  }
}