@import "../../variables.scss";

.title {
  width:100%;
  height: 54px;
  font-size: 32px;
  text-align: center;
  // background-color: #fff;
  background-image: url('../../assets/img/footer-bg.png') ;
  background-repeat: no-repeat;
  background-position: center bottom;
}


.contacts { 

  display: flex;

  flex-direction: column;
  align-items: center;
  width:100%;

  
  .title_block {

    display: flex;
    flex-direction: flex-start;

    width:100%;



    .logo {

      height: 100px;
    }


  }

  .mail_contact {

    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    max-width: 1200px;
    margin-bottom: 40px;

    .item {

      position: relative;
      width: 20%;
      border:2px solid $green;
      
      -webkit-box-shadow: 10px 10px 33px -17px rgba(0,0,0,0.75);
      -moz-box-shadow: 10px 10px 33px -17px rgba(0,0,0,0.75);
      box-shadow: 10px 10px 33px -17px rgba(0,0,0,0.75);

      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
      margin: 10px;
      padding-bottom: 50px;
      background-color: #fff;

      transition: all ease 0.4s;

      &:hover {
        -webkit-box-shadow: 2px 8px 48px -10px rgb(130, 130, 130);
        -moz-box-shadow: 2px 8px 48px -10px rgb(130, 130, 130);
        box-shadow: 2px 8px 48px -10px rgb(129, 129, 129);
      
      }


      
      .contact__title {

        font-size: 20px;
        margin-top: 12px;
        text-align: center;
        font-weight: 500;
      }

      .contact__adress {

        cursor: pointer;
        position: absolute;
        font-size: 16px;

        font-weight: 500;
        text-decoration: none;
        color: $green;
        padding: 4px 5px;
        border-radius: 5px;
        transition: all ease 0.2s;
        bottom: 10px;

        &:hover {


          text-decoration: underline;

          
        }

      }

      .contact__adress_second {
        bottom: 35px;
      }

 

    }
  }

  .adress_block {
    padding-left: 20px;

    width: 100%;
    max-width: 1200px;

    .adress_item {

      margin-top: 40px;
      margin-bottom: 20px;

      .item_title {

        font-size: 24px;
        
        
      }

      .item_desc {

        font-size: 18px;
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .link {
        
        cursor: pointer;
        color: $green;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        margin-right: 20px;
        margin-left: 15px;

        &:hover {

          color:$greenhover;
        }
        
      }

      .scheme_link {
        cursor: pointer;
        color:$green;
        margin-left: 10px;
        border-bottom: 1px dotted $green;
        
        &:hover {

          color:$greenhover;
          border-bottom: 1px dotted $greenhover;
        }
      }
      
      .icon {
        transform:translateY(30%);
        padding:3px;
        background-color:$green;
        border-radius: 50%;
        margin-right: 10px;

        &_mail {
          border:none;
          padding-right: 7px;
          transform:translateY(30%)
        }
      }


      
    }
  }


  
}

.modal {
  position: fixed; 
  background-color: rgba(117, 117, 117, 0.75);
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 100;

  .title {

    margin-bottom: -8px;
    z-index: 110;
  }


  &_dialog {
    display: flex;
    flex-direction: column;

    margin: 50px auto;
    width: 600px;
    background-color: #fff;
  }

  .header { 
    position: relative;

    .close {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 10px;
      top:10px;
      cursor: pointer;
    }
  }

  .btn {

    position: absolute;
    left: 10px;
    top:10px;
    cursor: pointer;
    font-family: LytigaPro;
    box-sizing: border-box;
    color: #fff;
    border:none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;

    text-transform: uppercase;
    background-color: $green;
    outline: none;
    transition: all ease 0.2s;
    
    &:hover {
      background-color:$greenhover;
    }

  }

  .content {
    display: flex;
    flex-direction: column;
    position: relative;

    .scheme {

      height: 760px;
      width: 600px;
    }
  }
}